.cabecalho{
    background-color:rgb(233, 181, 233);
}

.principal{
    background-color: rgb(241, 233, 241);
    color: rgb(253, 213, 236);
}

.rodape{
    background-color: black;
    color: ghostwhite;
    text-align: center;
}
#imagem-luan{
    width: 1000px;
    border: 5px black;

}