.cabecalho{
    background-color: fuchsia;
}

.principal{
    background-color: deeppink;
    color: crimson;
}

.rodape{
    background-color: black;
    color: ghostwhite;
    text-align: center;
}
#imagem luan{
    
}