.cabecalho{
    background-color: fuchsia;
}

.principal{
    background-color: deeppink;
    color: rgb(220, 20, 137);
}

.rodape{
    background-color: black;
    color: ghostwhite;
    text-align: center;
}
#imagem-luan{
    width: 200px;
    border: 2px black;

}